.input {
  text-align: center;
}

.loc-and-links {
  text-align: center;
}

h3 {
  text-align: center;
}

.forecast {
  margin-top: 4rem;
}

.weather-grid {
  display: grid;
  grid-template-columns: repeat(5, 20vw);
  grid-template-rows: repeat(12, 25vh);
}

.weather-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
