#root {
  top: 0;
  left: 0;
}

.input {
  top: 0;
  left: 33%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#weather-loc {
  text-align: center;
}

.row {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
